language: android

android:
  components:
    - tools
    - platform-tools
    - build-tools-25.0.2
    - android-25
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-android-support

jdk:
  - oraclejdk8

script:
  - ./gradlew test

cache:
  directories:
    - $HOME/.gradle
